/*--body--*/
body{
    background-color:rgb(7, 7, 7);
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Overlock', cursive;
}
h3.title {
    font-size: 3.3em;
    text-align: center;
    color: #008B8B;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
    padding-bottom: 0.2em;
	margin-bottom: 0.5em;
}
p {
    font-size: 1.1em;
    color:#999;
    line-height: 1.8em;
    margin:0;
}
/*--//body--*/
/*--home--*/
.home{
    display:inline-block;
    color:#fff;
    padding:3.5em 0;
}
.profile img{
    height: 350px;
    width:18%;
    border: 5px solid #fff;
    float:left;
    margin-left: 9%;
    margin-right: 4.2%;
}
.about h1{
    font-size: 1.8em;
    color:#fff;
    margin: 0.5em 0 0;
}
.about h2{
    font-size: 0.9em;
    color: #000;
    background:#F3E000;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
}
.about h2:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #F3E000 transparent transparent transparent;
}
.about h6{
    font-size: 0.9em;
    color:#C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 5px;
}
/*--//Home--*/
/*--Skills--*/
.skills{
    text-align: center;
    padding:1em 0;
}
.skills-info{
    text-align: center;
}
/*--//skills--*/
/*--Education--*/
.education{
    padding:4em 0;
    text-align: center;
    color:#fff;
    font-size: 1.3em;
}
.education p{
    padding-top: 1cm;
    color:#999;
    font-size: 0.8em;
}
/*--//Education--*/
/*--myproject--*/
.myproject{
    text-align: center;
    padding-bottom: 4em;
}
/*--Contact--*/
.contact{
    padding: 1cm;
    display: inline-block;
    padding:0;
}
.contact p{
    color:rgb(243, 233, 233)
}
#gmap{
    min-height: 13em;
    border: none;
    padding-top: 1cm;
    padding-bottom: 2cm;
    float:left;
    margin-right: 2cm;
    margin-left: 2cm;
}
.contact-info{
    float:left;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.contact-form input[type="text"] {
    color: #fff;
    background: none;
    outline: none;
    font-size: 0.9em;
    padding: .6em 1em;
    border: 1px solid #8C8C8C;
    display: inline-block;
    margin-top: 1em;
    width: 10cm;
}
.contact-form input[type="text"].email {
    margin: 1em 0 0 0;
}
.contact-form input[type="text"].phone {
    margin-bottom: 1em;
}
.contact-form textarea {
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .8em 1em;
    border: 1px solid #8C8C8C;
    min-height: 8em;
    width: 10cm;
}
.contact-form input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 1em;
    font-size: 0.9em;
    margin: 1em 0 0 0;
    background: #008B8B;
    border: 2px solid #008B8B;
    width: 10.8cm;
}
/*--//Contact--*/
/*--Footer--*/
.footer{
    padding: 2em 0;
    text-align: center;
    color:#fff;
    font-size: 1em;
    background-color: rgb(29, 27, 27);
}
/*--//Footer--*/